<md-card>
  <md-card-header>
    <md-card-title>
      <h1>Items</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list [@listAnimation]="prepareListState()" [@.disabled]="animationsDisabled">
      <md-list-item *ngFor="let item of items; trackBy: trackItem" (click)="selected.emit(item)" class="record">
        <h3 md-line>{{item.name}}</h3>
        <button *ngIf="!readonly" md-icon-button (click)="deleted.emit(item);$event.stopImmediatePropagation();">
          <md-icon>close</md-icon>
        </button>
        <p md-line>
          {{item.description}}
        </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
