<div class="container">
  <md-card class="profile-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Anders Hejlsberg</md-card-title>
      <md-card-subtitle>Software Engineer</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/lake.jpg" alt="Photo of fishing on the lake">
    <md-card-content>
      <p>It gives you great pleasure to know that millions of developers, day to day, make their living using the software that you created.</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>UPDATE</button>
      <button md-button>CANCEL</button>
    </md-card-actions>
  </md-card>
</div>


