<div class="container">
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Anders Hejlsberg</mat-card-title>
      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/lake.jpg" alt="Photo of fishing on the lake">
    <mat-card-content>
      <p>It gives you great pleasure to know that millions of developers, day to day, make their living using the software that you created.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>UPDATE</button>
      <button mat-button>CANCEL</button>
    </mat-card-actions>
  </mat-card>
</div>


