<md-card>
  <md-card-header>
    <md-card-title>
      <h1>
        <span *ngIf="selectedItem.id; else prompt">Editing {{originalName}}</span>
        <ng-template #prompt>Create</ng-template>
      </h1>
    </md-card-title>
  </md-card-header>
  <form (submit)="saved.emit(selectedItem)">
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput placeholder="Name" [(ngModel)]="selectedItem.name" type="text" name="name">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput placeholder="Description" [(ngModel)]="selectedItem.description" type="text" name="description">
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button type="submit" md-button>Save</button>
      <button type="button" md-button (click)="cancelled.emit(selectedItem)">Cancel</button>
    </md-card-actions>
  </form>
</md-card>
