<md-toolbar color="primary">
  <button (click)="sidenav.toggle()" md-mini-fab><md-icon>menu</md-icon></button>
  <span>
    {{title}}
  </span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <nav>
      <a md-button
         class="nav-link"
         *ngFor="let link of links"
         [routerLink]="link.path"
         routerLinkActive="active">
        <md-icon>{{link.icon}}</md-icon>
        {{link.label}}
      </a>
    </nav>
  </md-sidenav>

  <div class="app-content" [@routerAnimations]="prepareRouterState(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</md-sidenav-container>
