<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Newsletter</h1>
    </mat-card-title>
  </mat-card-header>
  <form novalidate [formGroup]="subscriber" (submit)="subscribe(subscriber)">
    <mat-card-content>
      <div class="full-width">
        <input type="text"  matInput placeholder="Name" formControlName="name">
      </div>
      <div class="full-width">
        <input type="text" matInput placeholder="Email" formControlName="email">
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button>Subscribe!</button>
      <button type="button" mat-button (click)="reset()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>

